.icon {
  display: inline-block;
  fill: currentColor;

  &--sm {
    width: 16px;
    height: 16px;
  }

  &--md {
    width: 24px;
    height: 24px;
  }

  &--lg {
    width: 36px;
    height: 36px;
  }
}
